*,
*::before,
*::after {
    box-sizing: border-box;
}

.title {
    font-family: "Recursive", sans-serif;
}

.material-symbols-outlined {
    vertical-align: middle;
}

.icon-square {
    padding: 5px;
    border: 1px dashed black;
    border-radius: 10px;
}

.custom-file-upload {
    cursor: pointer;
}