*,
*::before,
*::after {
    cursor: default;
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

canvas {
  vertical-align: bottom;
}

.content {
  flex: 1 0 auto;
}

.title {
    cursor: default;
    font-family: "Recursive", sans-serif;
}

.tile-storage {
  font-size: 0px;
}

.timer {
  width: 150px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
}

.webcam-select-view {
  min-width: 800px;
}

.material-symbols-outlined {
    vertical-align: middle;
}

.icon-square {
    padding: 5px;
    border: 1px dashed black;
    border-radius: 10px;
}

.custom-file-upload {
    cursor: pointer;
}

.puzzle-tile[draggable="true"] {
    cursor: grab;
}

.puzzle-tile[draggable="true"]:active {
    cursor: grabbing;
}

.puzzle-tile[landed="true"] {
    animation: blink 0.5s linear;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}