*,
*::before,
*::after {
    cursor: default;
    box-sizing: border-box;
}

.title {
    cursor: default;
    font-family: "Recursive", sans-serif;
}

.material-symbols-outlined {
    vertical-align: middle;
}

.icon-square {
    padding: 5px;
    border: 1px dashed black;
    border-radius: 10px;
}

.custom-file-upload {
    cursor: pointer;
}

/* .draggable {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grabbing;
    cursor: grab;
}

.draggable:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
} */

.puzzle-tile[draggable="true"] {
    cursor: grab;
}

.puzzle-tile[draggable="true"]:active {
    cursor: grabbing;
}